/* Nav */

#nav ul {
        /* removes bullet points */
        list-style-type: none; 

        overflow: hidden;
        background-color: #282828;

        /* bar stays at the top of the page when we scroll */
        position: fixed;
        font-family: monaco;
        /* ul object padding */
        width: 100%;
        top: 0; 
        left: 0; 
        margin: 0;
        padding: 0;        
    }

    #nav li {
        /* horizontal list */
        float: left;
    }

    #nav li a {
        display: block;
        color: white;
        padding: 14px 16px;
        text-align: center;

        /* remove underline from links */
        text-decoration: none;
    }

    #nav li a:hover:not(.active){
        background-color: #111;
    }

    #nav .active {
        background-color: crimson;
      }

    

/*Everything else*/
h1 {
    font-weight: bold;
    text-align: center;
    font-family: monaco, sans-serif;
    font-size: 120px;
    color: rgb(255, 255, 255);
    height:100%
}

h2{
    font-weight:bold;
    font-family: monaco,Consolas,Lucida Console,monospace;
}

h3 {
    font-family: monaco,Consolas,Lucida Console,monospace;
}

h4{
    font-family: monaco,Consolas,Lucida Console,monospace;
}

p {
    font-family: monaco,Consolas,Lucida Console,monospace;
    padding-left: 15px;
    padding-right: 15px;
}


.box{
    display:grid;
    grid-template-columns:1fr 1fr 1fr;

    row-gap: 10px;
}

.val{
    float:left;
    background-color: rgb(201, 201, 201);
    border: 5px solid rgb(255, 255, 255);
}


.val:hover {
    border: 10px solid crimson;
    background-color: crimson;
    color:white;
}

.team {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 10px;
    grid-auto-rows: minmax(200px, auto);
}

.teamType {
    width: 100%;
    height: auto;
    display: block;
}

.teamType h3 {
    color: red;
    margin-left: 20px;
    font-size: 50px;
    position: relative;
}
.teamType p {
    margin-right: 20px;
    position: relative;
}

.teamType {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px;
    height: 100%; /* Ensures images scale properly */
}

.image img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }