/* Nav */

#nav ul {
        /* removes bullet points */
        list-style-type: none; 

        overflow: hidden;
        background-color: #282828;

        /* bar stays at the top of the page when we scroll */
        position: fixed;

        /* ul object padding */
        width: 100%;
        top: 0; 
        left: 0; 
        margin: 0;
        padding: 0;        
    }

    #nav li {
        /* horizontal list */
        float: left;
    }

    #nav li a {
        display: block;
        color: white;
        padding: 14px 16px;
        text-align: center;

        /* remove underline from links */
        text-decoration: none;
    }

    #nav li a:hover:not(.active){
        background-color: #111;
    }

    #nav .active {
        background-color: crimson;
      }

    

/*Everything else*/
h1 {
    color: #000000;
    font-weight: bold;
    text-align: center;
    background-color: crimson;
    font-family: monaco;
    
    }

    h2{
        font-weight:bold;
        font-family: monaco;
    }

h3 {
    font-family: monaco;
}

h4{
    font-family: monaco;
}

.welcome{
    position: static;
    width: 100%;
    border: 5px solid gray;
    background-color:  gray;
}

.imgBox{
    position: static;
    border: 15px solid gray;
    height: 500px;
  display: flex;

}

img.group{

  width: 100%;
  height: 100%;
  object-fit: contain;
}

.values{
    width: 100%;
    display: flex;
    position: static;
    align-items: center;
}

.val1{
    flex: 1;

    padding: 10px;
    background-color: crimson;
}

.val2{
    flex: 1;

    padding: 10px;
    background-color: rgb(134, 30, 51);
}

.val3{
    flex: 1;

    padding: 10px;
    background-color: rgb(153, 92, 104);
}



